<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<title th:text="${title}">Insert title here</title>
</head>

<body>
	<form method="post" action="#" th:action="@{/}">
		<header>
			<h1 th:text="${title}">Insert h1</h1>
			<div id="info">
				<ul>
					<li><h2 id="turnPlate" class="blackturn" th:text="${strTurn}">デフォルト</h2></li>
					<li><p id="scoreBoad"
							th:text="'黒：' + ${blackCount} + '   ' + '白：' + ${whiteCount}"></p></li>
					<li><nobr id="cantput" th:if="${cantput}" th:text="${cantput}"></nobr></li>
					<li><p id="scoreBoad" th:text="${judge}"></p></li>
					<li><input type="submit" id="pass" name="pass" value="パス"></li>
				</ul>
			</div>
		</header>

		<input type="hidden" name="x" value="8"> <input type="hidden"
			name="y" value="8"><input type="submit" id="pass"
			name="postOthello" value="石を置く">
		<div class="container">
			<div class="row">

				<div id="00" class="square"
					th:classappend="|${othelloBoad[0][0] == '●' ? 'blackStone' : ''} ${othelloBoad[0][0] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[0][0]}"></p>
				</div>
				<div id="01" class="square"
					th:classappend="|${othelloBoad[0][1] == '●' ? 'blackStone' : ''} ${othelloBoad[0][1] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[0][1]}"></p>
				</div>
				<div id="02" class="square"
					th:classappend="|${othelloBoad[0][2] == '●' ? 'blackStone' : ''} ${othelloBoad[0][2] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[0][2]}"></p>
				</div>
				<div id="03" class="square"
					th:classappend="|${othelloBoad[0][3] == '●' ? 'blackStone' : ''} ${othelloBoad[0][3] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[0][3]}"></p>
				</div>
				<div id="04" class="square"
					th:classappend="|${othelloBoad[0][4] == '●' ? 'blackStone' : ''} ${othelloBoad[0][4] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[0][4]}"></p>
				</div>
				<div id="05" class="square"
					th:classappend="|${othelloBoad[0][5] == '●' ? 'blackStone' : ''} ${othelloBoad[0][5] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[0][5]}"></p>
				</div>
				<div id="06" class="square"
					th:classappend="|${othelloBoad[0][6] == '●' ? 'blackStone' : ''} ${othelloBoad[0][6] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[0][6]}"></p>
				</div>
				<div id="07" class="square"
					th:classappend="|${othelloBoad[0][7] == '●' ? 'blackStone' : ''} ${othelloBoad[0][7] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[0][7]}"></p>
				</div>
			</div>
			<div class="row">
				<div id="10" class="square"
					th:classappend="|${othelloBoad[1][0] == '●' ? 'blackStone' : ''} ${othelloBoad[1][0] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[1][0]}"></p>
				</div>
				<div id="11" class="square"
					th:classappend="|${othelloBoad[1][1] == '●' ? 'blackStone' : ''} ${othelloBoad[1][1] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[1][1]}"></p>
				</div>
				<div id="12" class="square"
					th:classappend="|${othelloBoad[1][2] == '●' ? 'blackStone' : ''} ${othelloBoad[1][2] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[1][2]}"></p>
				</div>
				<div id="13" class="square"
					th:classappend="|${othelloBoad[1][3] == '●' ? 'blackStone' : ''} ${othelloBoad[1][3] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[1][3]}"></p>
				</div>
				<div id="14" class="square"
					th:classappend="|${othelloBoad[1][4] == '●' ? 'blackStone' : ''} ${othelloBoad[1][4] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[1][4]}"></p>
				</div>
				<div id="15" class="square"
					th:classappend="|${othelloBoad[1][5] == '●' ? 'blackStone' : ''} ${othelloBoad[1][5] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[1][5]}"></p>
				</div>
				<div id="16" class="square"
					th:classappend="|${othelloBoad[1][6] == '●' ? 'blackStone' : ''} ${othelloBoad[1][6] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[1][6]}"></p>
				</div>
				<div id="17" class="square"
					th:classappend="|${othelloBoad[1][7] == '●' ? 'blackStone' : ''} ${othelloBoad[1][7] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[1][7]}"></p>
				</div>
			</div>
			<div class="row">
				<div id="20" class="square"
					th:classappend="|${othelloBoad[2][0] == '●' ? 'blackStone' : ''} ${othelloBoad[2][0] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[2][0]}"></p>
				</div>
				<div id="21" class="square"
					th:classappend="|${othelloBoad[2][1] == '●' ? 'blackStone' : ''} ${othelloBoad[2][1] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[2][1]}"></p>
				</div>
				<div id="22" class="square"
					th:classappend="|${othelloBoad[2][2] == '●' ? 'blackStone' : ''} ${othelloBoad[2][2] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[2][2]}"></p>
				</div>
				<div id="23" class="square"
					th:classappend="|${othelloBoad[2][3] == '●' ? 'blackStone' : ''} ${othelloBoad[2][3] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[2][3]}"></p>
				</div>
				<div id="24" class="square"
					th:classappend="|${othelloBoad[2][4] == '●' ? 'blackStone' : ''} ${othelloBoad[2][4] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[2][4]}"></p>
				</div>
				<div id="25" class="square"
					th:classappend="|${othelloBoad[2][5] == '●' ? 'blackStone' : ''} ${othelloBoad[2][5] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[2][5]}"></p>
				</div>
				<div id="26" class="square"
					th:classappend="|${othelloBoad[2][6] == '●' ? 'blackStone' : ''} ${othelloBoad[2][6] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[2][6]}"></p>
				</div>
				<div id="27" class="square"
					th:classappend="|${othelloBoad[2][7] == '●' ? 'blackStone' : ''} ${othelloBoad[2][7] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[2][7]}"></p>
				</div>
			</div>
			<div class="row">
				<div id="30" class="square"
					th:classappend="|${othelloBoad[3][0] == '●' ? 'blackStone' : ''} ${othelloBoad[3][0] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[3][0]}"></p>
				</div>
				<div id="31" class="square"
					th:classappend="|${othelloBoad[3][1] == '●' ? 'blackStone' : ''} ${othelloBoad[3][1] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[3][1]}"></p>
				</div>
				<div id="32" class="square"
					th:classappend="|${othelloBoad[3][2] == '●' ? 'blackStone' : ''} ${othelloBoad[3][2] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[3][2]}"></p>
				</div>
				<div id="33" class="square"
					th:classappend="|${othelloBoad[3][3] == '●' ? 'blackStone' : ''} ${othelloBoad[3][3] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[3][3]}"></p>
				</div>
				<div id="34" class="square"
					th:classappend="|${othelloBoad[3][4] == '●' ? 'blackStone' : ''} ${othelloBoad[3][4] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[3][4]}"></p>
				</div>
				<div id="35" class="square"
					th:classappend="|${othelloBoad[3][5] == '●' ? 'blackStone' : ''} ${othelloBoad[3][5] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[3][5]}"></p>
				</div>
				<div id="36" class="square"
					th:classappend="|${othelloBoad[3][6] == '●' ? 'blackStone' : ''} ${othelloBoad[3][6] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[3][6]}"></p>
				</div>
				<div id="37" class="square"
					th:classappend="|${othelloBoad[3][7] == '●' ? 'blackStone' : ''} ${othelloBoad[3][7] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[3][7]}"></p>
				</div>
			</div>
			<div class="row">
				<div id="40" class="square"
					th:classappend="|${othelloBoad[4][0] == '●' ? 'blackStone' : ''} ${othelloBoad[4][0] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[4][0]}"></p>
				</div>
				<div id="41" class="square"
					th:classappend="|${othelloBoad[4][1] == '●' ? 'blackStone' : ''} ${othelloBoad[4][1] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[4][1]}"></p>
				</div>
				<div id="42" class="square"
					th:classappend="|${othelloBoad[4][2] == '●' ? 'blackStone' : ''} ${othelloBoad[4][2] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[4][2]}"></p>
				</div>
				<div id="43" class="square"
					th:classappend="|${othelloBoad[4][3] == '●' ? 'blackStone' : ''} ${othelloBoad[4][3] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[4][3]}"></p>
				</div>
				<div id="44" class="square"
					th:classappend="|${othelloBoad[4][4] == '●' ? 'blackStone' : ''} ${othelloBoad[4][4] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[4][4]}"></p>
				</div>
				<div id="45" class="square"
					th:classappend="|${othelloBoad[4][5] == '●' ? 'blackStone' : ''} ${othelloBoad[4][5] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[4][5]}"></p>
				</div>
				<div id="46" class="square"
					th:classappend="|${othelloBoad[4][6] == '●' ? 'blackStone' : ''} ${othelloBoad[4][6] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[4][6]}"></p>
				</div>
				<div id="47" class="square"
					th:classappend="|${othelloBoad[4][7] == '●' ? 'blackStone' : ''} ${othelloBoad[4][7] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[4][7]}"></p>
				</div>
			</div>
			<div class="row">
				<div id="50" class="square"
					th:classappend="|${othelloBoad[5][0] == '●' ? 'blackStone' : ''} ${othelloBoad[5][0] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[5][0]}"></p>
				</div>
				<div id="51" class="square"
					th:classappend="|${othelloBoad[5][1] == '●' ? 'blackStone' : ''} ${othelloBoad[5][1] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[5][1]}"></p>
				</div>
				<div id="52" class="square"
					th:classappend="|${othelloBoad[5][2] == '●' ? 'blackStone' : ''} ${othelloBoad[5][2] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[5][2]}"></p>
				</div>
				<div id="53" class="square"
					th:classappend="|${othelloBoad[5][3] == '●' ? 'blackStone' : ''} ${othelloBoad[5][3] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[5][3]}"></p>
				</div>
				<div id="54" class="square"
					th:classappend="|${othelloBoad[5][4] == '●' ? 'blackStone' : ''} ${othelloBoad[5][4] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[5][4]}"></p>
				</div>
				<div id="55" class="square"
					th:classappend="|${othelloBoad[5][5] == '●' ? 'blackStone' : ''} ${othelloBoad[5][5] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[5][5]}"></p>
				</div>
				<div id="56" class="square"
					th:classappend="|${othelloBoad[5][6] == '●' ? 'blackStone' : ''} ${othelloBoad[5][6] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[5][6]}"></p>
				</div>
				<div id="57" class="square"
					th:classappend="|${othelloBoad[5][7] == '●' ? 'blackStone' : ''} ${othelloBoad[5][7] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[5][7]}"></p>
				</div>
			</div>
			<div class="row">
				<div id="60" class="square"
					th:classappend="|${othelloBoad[6][0] == '●' ? 'blackStone' : ''} ${othelloBoad[6][0] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[6][0]}"></p>
				</div>
				<div id="61" class="square"
					th:classappend="|${othelloBoad[6][1] == '●' ? 'blackStone' : ''} ${othelloBoad[6][1] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[6][1]}"></p>
				</div>
				<div id="62" class="square"
					th:classappend="|${othelloBoad[6][2] == '●' ? 'blackStone' : ''} ${othelloBoad[6][2] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[6][2]}"></p>
				</div>
				<div id="63" class="square"
					th:classappend="|${othelloBoad[6][3] == '●' ? 'blackStone' : ''} ${othelloBoad[6][3] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[6][3]}"></p>
				</div>
				<div id="64" class="square"
					th:classappend="|${othelloBoad[6][4] == '●' ? 'blackStone' : ''} ${othelloBoad[6][4] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[6][4]}"></p>
				</div>
				<div id="65" class="square"
					th:classappend="|${othelloBoad[6][5] == '●' ? 'blackStone' : ''} ${othelloBoad[6][5] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[6][5]}"></p>
				</div>
				<div id="66" class="square"
					th:classappend="|${othelloBoad[6][6] == '●' ? 'blackStone' : ''} ${othelloBoad[6][6] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[6][6]}"></p>
				</div>
				<div id="67" class="square"
					th:classappend="|${othelloBoad[6][7] == '●' ? 'blackStone' : ''} ${othelloBoad[6][7] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[6][7]}"></p>
				</div>
			</div>
			<div class="row">
				<div id="70" class="square"
					th:classappend="|${othelloBoad[7][0] == '●' ? 'blackStone' : ''} ${othelloBoad[7][0] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[7][0]}"></p>
				</div>
				<div id="71" class="square"
					th:classappend="|${othelloBoad[7][1] == '●' ? 'blackStone' : ''} ${othelloBoad[7][1] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[7][1]}"></p>
				</div>
				<div id="72" class="square"
					th:classappend="|${othelloBoad[7][2] == '●' ? 'blackStone' : ''} ${othelloBoad[7][2] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[7][2]}"></p>
				</div>
				<div id="73" class="square"
					th:classappend="|${othelloBoad[7][3] == '●' ? 'blackStone' : ''} ${othelloBoad[7][3] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[7][3]}"></p>
				</div>
				<div id="74" class="square"
					th:classappend="|${othelloBoad[7][4] == '●' ? 'blackStone' : ''} ${othelloBoad[7][4] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[7][4]}"></p>
				</div>
				<div id="75" class="square"
					th:classappend="|${othelloBoad[7][5] == '●' ? 'blackStone' : ''} ${othelloBoad[7][5] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[7][5]}"></p>
				</div>
				<div id="76" class="square"
					th:classappend="|${othelloBoad[7][6] == '●' ? 'blackStone' : ''} ${othelloBoad[7][6] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[7][6]}"></p>
				</div>
				<div id="77" class="square"
					th:classappend="|${othelloBoad[7][7] == '●' ? 'blackStone' : ''} ${othelloBoad[7][7] == '〇' ? 'whiteStone' : ''}|">

					<p th:text="${othelloBoad[7][7]}"></p>
				</div>
			</div>
		</div>
		<br> <input type="submit" id="pass" name="reset" value="リセット">
	</form>
	<script type="module" th:src="@{/js/main.js}"></script>
</body>
</html>
